/* Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* Обнуление border-box включает в себя поля и границы, но не внешний отступ margin. Например граница уже включена в заданную ширину*/

body {
	background-color: #e8e8e8;
  background: url('../img/bg.png') 50% 10px no-repeat;
}
h1{
	font-family: Arial;
	font-size: 14px;
	text-align: center;
	margin: 40px 0 0 0;
	color: #273d46;
	text-transform: uppercase;
  letter-spacing: 3px;
	font-style: oblique;
}
h2{
	margin: 27px;
	text-align: center;
	font-size: 36px;
	padding: 0 31px 0;
}

.maincontent{
	margin: auto;
	height: 1500px;
	width: 850px;

}

.photo1{
	border: 10px solid #ffffff;
	display: inline-block;
	width: 826px;
	height: 542px;
	margin: 0 0 0 5px;
  box-shadow: 0px 0px 10px 10px #dddddd;
}

.bottomblock{
	padding: 97px 0 0 0;
}
.parag1{
	display: inline-block;
	margin: 0 48px 60px 48px;
	font-size: 24px;
	color: #273d46;
}
.checklist{
	padding: 0 0 0 10px;
}

.list1{
color: #273d46;
margin: 0 0 0 38px;
text-shadow: 0px 0px 1px black;
font-size: 20px;
font-family: Arial;
padding: 0 0 17px 0;
}
.list2{
color: #80b7b3;
margin: 0 0 0 38px;
font-size: 20px;
font-family: Arial;
padding: 0 0 17px 0;
}
.list3{
color: #273d46;
font-weight: 700;
margin: 0 0 0 38px;
font-size: 20px;
font-family: Arial;
padding: 0 0 17px 0;
}
.list4{
text-decoration: line-through;
color: #bcbfc1;
margin: 0 0 0 38px;
font-size: 20px;
font-family: Arial;
}
.bottomfullstoryblock{
margin: 59px 0 0 50px;
line-height: 44px;
height: 44px;
display: inline-block;
padding: 0px 30px;
border-radius: 24px;
background-color: #80b7b3;
-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
font-family: Arial, sans-serif;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 3px;
color: white;
}

.bottomfullstoryblock span{
	padding: 0 30px 0 0;
background: url('../img/arrow.svg') right no-repeat;
}
.bottomfullstoryblock:hover{
background-color: lightgreen;
}
.bottomfullstoryblock:active{
position: relative;
top: 3px;
-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
}
.imgcheck{
padding: 0 10px 0 0;
}
